<h1 class="text-2xl font-bold mb-4">Edit Registration</h1>

<%= render "form", event: @event, registration: @registration %>

<div class="mt-4">
  <%= link_to "Back to Event", event_path(@event), class: "text-blue-600 underline" %>
</div>
